<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<div class="container text-center">
  <h1>Password Generator</h1>
  <div class="">
    <a href="{% url 'home' %}" style="margin:10px">Home</a>
    <a href="{% url 'about' %}">About</a>
  </div>
  <h1>Your Password Is:</h1>
  <h2 class="alert alert-success">{{ password }}</h2>

  <form class="" action="">
    <input type="button" name="refresh" value="Refresh Password" onclick="window.location.reload()" class="btn btn-primary"><br>
  </form>
</div>
