{% extends 'dashboard/base.html' %}

{% block content %}
<br>
<h1 style="text-align: center; color: rgba(20, 81, 120, 0.9);">Dashboard</h1>
<br>
<div class="container text-center">
  <div class="row">
    <div class="col-sm">
      <a href="{% url 'generator_home' %}"><button type="button" class="btn btn-circle btn-xl">Password Generator</button></a>
    </div>
    <div class="col-sm">
      <a href="{% url 'loot_home' %}"><button type="button" class="btn btn-circle btn-xl">Loot Tracker</button></a>
    </div>
    <div class="col-sm">
      <a href="{% url 'rps' %}"><button type="button" class="btn btn-circle btn-xl">Beat the Matrix</button></a>
    </div>
  </div>
</div>
{% endblock content %}
